<div class="bg-image"></div>
<div class="box-parent-login">
            <form role="form">
                <fieldset id="field">
                    <h1 id="lg-title">Login CML</h1>
                    <div class="box-login">
                        <div class="form-group cf-login-user">
              
                            <input type="text" aria-label="User" placeholder="User" maxlength="12" 
                            class="form-control cf-login-bg-user input-lg" id="userLogin">
                        </div>
                        <div class="form-group cf-password-user">
       
                            <input type="password" aria-label="User" placeholder="Password" maxlength="15" 
                            class="form-control cf-password-bg-user input-pw" id="userPassword">
                        </div>
                        <div class="box-lg-centralize">
                            <input type="submit" value="Enter" class="btn btn-primary lg-font"> <br>
                        </div>
                    </div>
                    <a href="#" class="cf-link-color cf-pw-forgot lg-font">Forgot my Password</a>
                    <div class="box-lg-centralize main-cf-rg">
                            <p class="lg-font cf-ng">Don't have a user?
                            <a href="#" class="cf-link-color cf-rg lg-font">Register here</a></p>
                        </div>
                </fieldset>
            </form>
        </div>
